.keyboard li:first-child {
  border-radius: 5px 0 5px 5px;
}

.keyboard li:last-child {
  border-radius: 0 5px 5px 5px;
}

.keyboard {
  height: 15.25rem;
  margin: 0.5rem auto;
  padding: 3rem ;
  position: relative;
  border: 1px solid var(--keyboard-border);
  border-radius: 1rem;
  background-color: var(--keyboard);
  box-shadow: 0 0 50px var(--black-50) inset, 0 1px var(--keyboard-shadow) inset,
    0 5px 15px var(--black-50);
}